#puzzle {
  width: 480px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#puzzle input {
  width: 50px;
  height: 50px;
	border: 1px #ccc solid;
  box-sizing: border-box;
  border-spacing: 0;

}

.odd-section {
  background-color: rgb(238, 238, 238);
}

